/* Css link sucessful */
:root{
  --background-color:#619e8c;
    /* 8DAA91; */
  --background-color:#ffffff;
  --header-color:#631D76;
  --text-color:#5E5D5C;
}
body{
  display:flex;
  align-content:center;
  flex-flow: column;
  background-color: var(--background-color);
  text-align:center;
  font-family:"Georgia";
  color:var(--text-color);
}
h1{
	font-size: 3rem;
  text-align:center;
  color:var(--header-color);
}
input{
  display:block;
  width:10rem;
}
/* .Description{
   height:3rem; 
} */
.form{
  text-align:left;
}
/* The Link */
a{
	font-size:2rem;
  display:inline;
  color: #631D76
}

/* The Link Once You've Gone There Before */
a:visited{
  color:#631D76
}
/* The Link While Hovering */
a:hover{
  color:#F46036
}
table{
  text-align:center;
  color:#631D76;
  background-color:#631D76;
  border:1px #631D76 solid;
  
}
td,th{
  padding:1rem;
  background-color:#FFFFFF;
  border:1px solid #631D76;
}
.center{
  text-align:center;
}